<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="https://careerhub.griffith.edu.au/Resources/Themes/Students/GU20/Content/images/Griffith-Logo.png" height="30" class="d-inline-block align-top" alt="">
             
        </a>
        <h5 class="title">Artificial Intelligence for Decision Making - Demo </h5>
    </mdb-navbar-brand>

    
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/airline" mdbWavesEffect>Airlines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="flight" mdbWavesEffect>Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/aircraft" mdbWavesEffect>Aircraft</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/events" mdbWavesEffect>Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/orgs" mdbWavesEffect>Organisation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/persons" mdbWavesEffect>Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/admin" mdbWavesEffect>Admin</a>
            </li>
        </ul>
    
</mdb-navbar>

